<div class="container">
    <h1 class="text-center mt-5 mb-4">Création d'un Nouvel Événement</h1>
  
    <form (ngSubmit)="CreerEvenement()" #evenementForm="ngForm" class="col-lg-6 offset-lg-3">
      <div class="form-group">
        <label for="nom">Nom de l'événement</label>
        <input type="text" id="nom" name="nom" [(ngModel)]="nouvelEvenement.nom" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="genreEvenement">Genre de l'événement</label>
        <select id="genreEvenement" name="genreEvenement" [(ngModel)]="nouvelEvenement.genreEvenement" required class="form-control">
          <option value="Concert">Concert</option>
          <option value="Théâtre">Théâtre</option>
          <option value="Conférence">Conférence</option>
          <option value="Exposition">Exposition</option>
          <option value="Festival">Festival</option>
          <option value="Cinéma">Cinéma</option>
          <option value="Sport">Événement Sportif</option>
          <option value="Comédie musicale">Comédie </option>
          <option value="Galerie d'art">Galerie d'art</option>
          <option value="Spectacle comique">Spectacle comique</option>
          <option value="Danse">Danse</option>
          <option value="Opéra">Opéra</option>
          <option value="Lecture">Lecture</option>
          <option value="Défilé de mode">Défilé de mode</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="dateEcheance">Date du spectacle</label>
        <input type="date" id="dateEcheance" name="dateEcheance" [(ngModel)]="nouvelEvenement.dateEcheance" required class="form-control">
      </div>
  
      <div class="form-group">
        <label for="prixBillets">Prix des billets</label>
        <div class="input-group">
          
          <input type="number" id="prixBillets" name="prixBillets" [(ngModel)]="nouvelEvenement.prixBillets" class="form-control">
          <div class="input-group-prepend">
            <span class="input-group-text">€</span>
          </div></div>
        
      </div>
  
      <div class="form-group">
        <label for="priorite">Priorité</label>
        <select id="priorite" name="priorite" [(ngModel)]="nouvelEvenement.priorite" required class="form-control">
          <option value="élevée">Élevée</option>
          <option value="moyenne">Moyenne</option>
          <option value="faible">Faible</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="commentaire">Commentaire</label>
        <textarea id="commentaire" name="commentaire" [(ngModel)]="nouvelEvenement.commentaire" class="form-control"></textarea>
      </div>
  
      <button type="submit" [disabled]="!evenementForm.valid" class="btn btn-primary btn-block">Créer l'Événement</button>
    </form>
  </div>
  