<div>
  <!-- En-tête de l'application, si nécessaire -->

  <!-- Contenu principal de l'application -->
  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Pied de page de l'application-->
  <!-- Footer -->
  <footer class="p-5 bg-dark text-white text-center position-relative">
    <div class="container">
      <p class="lead">Copyright &copy; 2023 Projet CWA</p>

      <a href="#" class="position-absolute bottom-0 end-0 p-5">
        <i class="bi bi-arrow-90deg-left h2"></i>
      </a>
    </div>
  </footer>

</div>
